.logo {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    width: 50%;
  }
}

.title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  * {
    text-align: center;
    color: --antd-primary-color;
  }
}
