div.credential {
  display: flex;
  gap: 2em;
  height: 3em;
  justify-content: space-between;
  align-items: center;

  div.info {
    width: 100%;
  }

  .expired-token {
    font-style: italic;
  }
}

.add-account {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
